{% macro nav(filters, prefix, plugin) %}
    <nav class="programs isotope {{ prefix }} filters">
        <div class="type-filter-buttons">
            <span>{{ get_string('filter_navigation:' ~ prefix, plugin) }}</span>
            <div class="filter-buttons">
                <button data-filter="*" class="filter-button all active">{{ get_string('filter_navigation:all', plugin) }}</button>
                {% for filter, count in filters %}
                    <button data-filter=".{{ prefix }}-{{ filter }}" class="filter-button {{ filter }}">
                        {{ get_string('filter_navigation:' ~ prefix ~ ':' ~ filter, plugin) }}
                    </button>
                {% endfor %}
            </div>
        </div>
    </nav>
{% endmacro %}